.container {
  margin: 60px auto;
  max-width: 960px;
  padding: 0 30px;
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.mainContainer > * {
  width: 100%;
}

.mainContainer main {
  margin-bottom: auto;
}
